.table-container {
    width:90.8vw;
    height: 75vh;
    overflow-y: auto;
    max-width:91vw;
  }

.tablecomponent-container{
    width:90vw;
    max-width: 90vw;
}
  
.table-container table {
    border-collapse: collapse;
    width: 100%;
    background-color: #393939;
  }
  
.table-container th {
    text-align: left;
    padding: 15px 8px;
    border-bottom: 1px solid #525252;
    background-color: #525252;
    color: #f4f4f4;
  }

.table-container td {
    text-align: left;
    padding: 20px 8px;
    border-bottom: 1px solid #525252;
    color:#f4f4f4;
  }
  
.table-container tr:hover {
    background-color: #262626;
  }
  
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    color: #f4f4f4;
  }
  
.page-number {
    font-size: 16px;
    font-weight: bold;
  }

.items-per-page-dropdown select{
  background-color: #393939;
  border: 0px;
  color: #f4f4f4;
}

.page-dropdown select{
  background-color: #393939;
  border: 0px;
  color: #f4f4f4;
}

.page-arrows button{
  background-color: #393939;
}
  
.arrow-button {
    font-size: 24px;
    cursor: pointer;
    color:#f4f4f4;
    padding: 3px 10px;
  }
  
.arrow-button:hover {
    color: #007bff;
  }
  
::-webkit-scrollbar {
  width: 0px;
}