.bee{
    color: #0F62FE;
    margin-left:30px;
    margin-top: 40px;
}

.home{
    color: #8D8D8D;
    margin-left:30px;
    margin-top: 60px;
}

.linea {
    background-color: #ffff;
    width: 5.5vw;
    height: 0.3vh;
    margin-top: 1vw;
    margin-left: 1.2vw;
    position: absolute;
}

.policy {
    color: #8D8D8D;
    margin-left:30px;
    margin-top: 60px;
}

.table {
    color: #8D8D8D;
    margin-left:30px;
    margin-top: 60px;
}

.logout {
    color: #8D8D8D;
    margin-left:30px;
    margin-top: 250px;
}

.login-sidebar {
    border-right: 2px solid #8D8D8D;
    width: 9vw;
    height: 100vh;
}
